.tarjetasDetalle{
    width: 80%;
    display: flex;
}

button{
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 10%;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 0.8rem;
    height: 3rem;
    position: relative;
    }

.botones{
    display: flex;
    align-items: center;
}